datafactory/pipeline/Copy_Alpha_Vantage_to_ADLS.json
{
	"name": "Copy_Alpha_Vantage_to_ADLS",
	"properties": {
		"description": "Copy Alpha Vantage data to Azure Data Lake Storage",
		"activities": [
			{
				"name": "Set_Alpha_Vantage_API_Key",
				"description": "Retrieve Alpha Vantage API key from Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyfuvevk3omzo5y.vault.azure.net/secrets/alpha-vantage-api-key/93b122350cd443e3b3dcbbebf8688bb7?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set_File_List",
				"description": "Retrieve list of functions and symbols from Azure Data Lake Storage",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set_Alpha_Vantage_API_Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "FileList",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set_File_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Set_File_List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "query?function=@{'<Function>'}&symbol=@{'<Symbol>'}&apikey=@{activity('Set_Alpha_Vantage_API_Key').output.value}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"quoteAllText": true,
										"filePattern": "setOfObjects"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "FileSource",
									"type": "DatasetReference",
									"parameters": {
										"function": "@item().Function",
										"symbol": "@item().Symbol",
										"apikey": "@activity('Set_Alpha_Vantage_API_Key').output.value"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "FileTarget",
									"type": "DatasetReference",
									"parameters": {
										"filePath": {
											"value": "@{item().Function}/@{item().Symbol}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}